

.contact_information {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
  }
  
  .main_photo {
    display: block;
    margin: auto;
    max-width: 300px;
    padding-top: 50px;
    border-radius: 30%;
  }
  
  .tech {
    display: block;
    margin: auto;
    max-width: 500px;
    padding-top: 50px;
  }
  
  .above_main_photo, .below_main_photo {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .below_main_photo {
      padding-top: 50px;
      border-bottom: solid 3px gray;
  }