.progects-container {
    color: antiquewhite;
}

.project-title{
    font-weight: 700;
}
.description{
    color: black;
    font-size: x-large;
    font-family: sans-serif;
    padding: 15px
}

.screenshot {
    width: 700px;
}

.screenshot-row-first {
    display: flex;
    column-gap: 20px;
    margin: 20px auto;
    padding-left: 20px;


}