.main_photo{
  display: flex;
justify-self: center;
  width: 400px;
  height: auto;
  border-radius: 80px;
}

  .contact_information{
display: flex;
/* justify-content: space-between; */
justify-content: space-around;
max-width: 50%;
font-size: x-large;
}

header {
  font-size: 50px;
  display: flex;
  justify-content: center;
}


