body {
  background-color:whitesmoke;
}
header {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

 .links li {
  display: inline-flex;
  flex-direction: row;
  justify-self: right;
  gap: 20px;
  width: 350px;
  box-shadow: 50px 100px 5px solid rgb(3, 52, 3);
  background-color: rgba(60, 198, 60, 0.479);
  margin-right: 20px;
  height: 50px;
  
 } 
 .links li a{
  text-decoration: none;
  width: 100%;
 }
.navigation {
  display: flex;
  justify-content: flex-end;
}

.linkedin {
  display: flex;
  flex-direction: row;

  width: 150px;
  height: 50px;

  align-items: center; 
  align-self: flex-end;
  padding: 16px;

  border-radius: 16px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;

  color: white;
  background-color: #4999ee;
  cursor: pointer;
  font-weight: 700;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  transition: ease filter 0.1s;
}
.linkedin:hover {
  filter: brightness(92%);
}
.linkedin:active {
  filter: brightness(88%);
}
